@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --black: 0, 0%, 5%;
  --white: 0, 0%, 95%;
  --brown: 16, 97%, 13%;
  --light-blue: 215, 18%, 58%;
  --dark-blue: 220, 13%, 40%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/** Utility Classes */

.container {
  width: min(100% - 2rem, 75em);
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-direction: var(--dir, row);
  justify-content: var(--justify, space-between);
  align-items: var(--align, center);
  gap: var(--gap, 1rem);
}

/** Hide for everything except screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1em;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background-color: hsl(var(--light-blue));
  color: hsl(var(--black));
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: hsl(var(--dark-blue));
  padding-block: 0.25em;
  display: block;
  width: 100%;
  max-width: 100%;
}

header .logo h1 {
  font-size: 1.4rem;
  color: hsl(var(--white));
}

header .logo span {
  font-weight: 300;
}

.primary-navigation {
  z-index: 999;
  height: 75%;
  position: absolute;
  top: 6rem;
  left: 0;
  background-color: hsl(var(--dark-blue));
  width: 20vw;
  transform: translateX(-100%);
  transition: transform 750ms cubic-bezier(0.77, 0, 0.21, 1.4);
}

.menu-list {
  --dir: column;
  --align: start;
  list-style: none;
}

.menu-list li {
  padding-block: 0.75em;
  width: 100%;
  background-color: hsl(var(--dark-blue));
}

.menu-list a {
  color: hsl(var(--brown), 0.7);
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 250ms ease-out;
}

.menu-list li:hover a,
.menu-list li:focus a {
  color: hsl(var(--brown), 1);
}

input[type="checkbox"]:checked ~ .primary-navigation {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 300ms;
  display: none;
}

.menu-icon-toggle {
  transition: all 300ms;
  cursor: pointer;
  height: 100%;
  width: 35px;
}

.menu-line {
  transition: all 300ms;
  height: 3px;
  width: 100%;
  background-color: hsl(var(--white));
}

.menu-line:not(:first-child) {
  margin-top: 5px;
}

input[type="checkbox"]:checked ~ .menu-icon-toggle > .horizontal {
  opacity: 0;
}

input[type="checkbox"]:checked ~ .menu-icon-toggle > .diagonal.line1 {
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .menu-icon-toggle > .diagonal.line2 {
  transform: rotate(-135deg);
  margin-top: -9px;
}

@media (min-width: 45em) {
  header .logo h1 {
    font-size: 2.4rem;
  }
}
