/** Get Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap");

/** Project wide custom variables */
:root {
  /** Color */

  --black: 0, 0%, 5%;
  --dark-gray: 11, 7%, 42%;
  --light-gray: 168, 4%, 74%;
  --dark-green: 169, 57%, 42%;
  --light-green: 169, 69%, 52%;

  /** Fonts */

  --fs-900: 3.5rem;
  --fs-800: 3rem;
  --fs-700: 2.5rem;
  --fs-400: 1rem;

  --fw-thin: 200;
  --fw-reg: 400;
  --fw-bold: 700;
}

@media (min-width: 45rem) {
  :root {
    --fs-900: 5rem;
    --fs-800: 4rem;
    --fs-700: 2.8rem;
    --fs-400: 1.4rem;
  }
}

/** Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/** Utility classes */

.flex {
  display: flex;
  flex-direction: var(--dir, column);
  justify-content: var(--justify, center);
  align-items: var(--align, center);
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: min(100% - 2rem, 100em);
  margin-inline: auto;
}

.btn {
  display: block;
  padding: 0.25em 0.75em;
  margin-top: 1em;
  max-width: fit-content;
  font-size: var(--fs-400);
  border: none;
  background-color: hsl(var(--dark-green));
  color: hsl(var(--light-gray));
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.btn:hover,
.btn:focus {
  background-color: hsl(var(--light-green));
  color: hsl(var(--black));
}

.m-block {
  margin: var(--mar, 1em);
}

.m-inline {
  margin-inline: var(--mar, 1em);
}

.m {
  margin: var(--mar, 1em);
}

.p-block {
  padding: var(--pad, 1em);
}

.p-inline {
  padding-inline: var(--pad, 1em);
}

.p {
  padding: var(--pad, 1em);
}

/** Base Styles */

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: "Mukta", sans-serif;
  background-color: hsl(var(--light-gray));
  color: var(--black);
  font-size: var(--fs-400);
}

p,
a,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-thin);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

p,
a {
  font-size: var(--fs-400);
}

/** Components */

header {
  margin: 0;
  padding: 0;
  box-shadow: 0 10px 40px 5px hsl(var(--black), 0.5);
  -webkit-box-shadow: 0 10px 40px 5px hsl(var(--black), 0.5);
  -moz-box-shadow: 0 10px 40px 5px hsl(var(--black), 0.5);
}

header,
footer {
  background-color: hsl(var(--dark-gray));
}

header h1 {
  color: hsl(var(--light-gray));
}

main {
  margin: 1rem auto;
  width: min(100% - 4rem, 100em);
}

main h2 {
  font-size: var(--fs-700);
  font-weight: var(--fw-thin);
}

.main__content {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (min-width: 45em) {
  .main__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .main__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: hsl(--var(--light-gray));
  box-shadow: 10px 10px 39px -1px hsl(var(--black), 0.3);
  -webkit-box-shadow: 10px 10px 39px -1px hsl(var(--black), 0.3);
  -moz-box-shadow: 10px 10px 39px -1px hsl(var(--black), 0.3);
  --justify: space-between;
}

.card__content {
  padding: 1.4em;
}

.card__title {
  font-weight: var(--fw-thin);
  color: hsl(var(--dark-green));
}

.social-icons {
  --dir: row;
  --gap: 1.4rem;
}

.social-icons svg {
  width: 2rem;
}
